h1 {
    color:red;
    background: linear-gradient(to right,blue,white,green);
    text-align: center;
}
.main-container {
    background-color: darkmagenta;
}
h2 {
    color:cyan;
    animation-name: h2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes h2 {
    100% {transform: translateX(500px);}
}
p:hover {
    color:white;
    background-color: blue;
}
h4:hover {
    color:brown;
    background-color: aqua;
}
pre:hover {
    color:red;
    background-color: green;
}
pre {
    
    border: 2px solid red;
    background-color: azure;
    padding-left: 20px;
}